*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* ID */



#btnLoginRecommend{
    
    margin: 0 0;
    height: 25px;
    
}

#postCabezera > .articulo{
    border: none;
    
}

#postCabezera > .articulo > .postPrincipalDetalles .texto_intro{
    display: none;
}

#postCabezera > .articulo{
    padding-bottom: 0;
    display: grid;
}

#postCabezera > .articulo > .postPrincipalDetalles{
    background-color: black;
    padding: 20px 20px;

}

#postCabezera > .articulo >.imgPosPrincipal{
    width: 100%;
    
  
}

#postCabezera > .articulo > .postPrincipalDetalles a,
#postCabezera > .articulo > .postPrincipalDetalles > .autor_fecha{
    color: #fff;
}


/* Clases */

.conteiner, .contenedorHeader, .contentPrincipal{
    padding: 0 20px;
    clear: both;
    float: none;
    max-width: 1240px;
    position: relative;
    margin: 0 auto;
}

.titulo{
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
}

.titulo a{
    color: black;
}


.titulo_strong{
    color: red;
    font-weight: 900;
}

.header{
    border-bottom: 2px solid #b3b3b3;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.contenedorHeader, .conteiner_menu{
    padding: 0 20px;
}


.buscar{
    display: none;
}

.conteiner_menu{
    
    margin-bottom: 20px;
}

.menu_desplegable{

    height: 35px;
    width: 90vw;
    padding-left: 15px;
    border-radius: 3px;
    background-color: #f2f2f2;
    background: linear-gradient(#fff,#f2f2f2);
    border: 1px solid #ccc;

}

.menu_desplegable:focus{
    border: 2px solid orange;
}

.menu{
    display: none;
}



.contenidoGeneral{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "Cabezera"
                         "main" 
                         "sideBar";
}

.postCabezera{
    grid-area: Cabezera;
}


.main{
    grid-area: main;


} 

.seccionCajas{

    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

.articulo{
    border-top: 1px dotted gray;
    padding-top: 12px;  
    padding: 15px 0;
    margin-right: 20px;
}


.categoria{

    color: gray;
    font-style: italic;

}
.titulo_posts{
    font-size: 18px;
    font-weight: bold;

}


.titulo_posts a{
    color: black;
    
}

.caja_titulo_img{
    display: flex;
}
.img_posts{
    width: 144px;
    height: 107px;
    padding-left: 20px;
}

.autor_fecha{
    font-size: 14px;
    padding-top: 5px;
    color: gray;
}

.autor{
    padding-right: 8px;
    color: black;
}

.texto_intro{
    padding: 12px 0 20px 0;
    font-size: 15px;
}


.sideBar{
    grid-area: sideBar;
}



.recommendBar{
    margin-left: 15px;
    display: none;
}

.recommendBar h2{

    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;

}



.social_bar{

    margin-top: 20px;
    /* No se muestra como quiero */
    border-top: 1px solid gray;
    padding: 15px 0;
    
}

.titulo_social_bar{
    margin-bottom: 12px;
}

.lista_social_bar li{
    display: inline-block;
}

.iconos_social{
    font-size: 20px;
    color: black;
    padding: 5px 3px;
}

.iconos_social:hover{
    color: #999;
   
}

.botonStories{
    margin-top: 20px;
    height: 45px;
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(#f2f2f2,#e4e3e3);
    box-shadow: 0px 1px 1px #888;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    
}

.footer{
    border-top: 2px solid red;
    padding: 30px 0 0;
    text-align: center;
}

.botonLogin{
    background-color: #f2f2f2;
    background: -webkit-linear-gradient(#f2f2f2,#e4e3e3);
    box-shadow: 0px 1px 1px #888;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 35px;
    width: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.footerContent{position: relative;}

.footerLogo{
    margin-bottom: 20px;
}

.footerContent h3{
    font-size: 13px;
    margin-bottom: 20px;
}

.footerContent p{
    font-size: 13px;
    color: #909090;
    margin-bottom: 20px;
}

.logoPequeño{
    display: inline-block;
    color: red;
    font-size: 30px;
    font-weight: 700;
    height: 30px;
    width: 70px;
    
}


.footerAdicional{
    padding-top: 30px;
    color: #ccc;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.footerAdicional_conteiner{
    padding: 0 20px;
}


.footerContent_copy{padding: 0 30px;}

.footerContent_copy p {margin-bottom: 20px;}

.footerServices{background-color: #242424;}

.conteinerServices li, .conteinerServices p{
    padding: 10px 0;
    border-top: 2px solid #2f2f2f;
}

.conteinerServices ul li a, .conteinerServices p{color: #fff;}


@media screen and (min-width: 800px) {

    .menu{
        /* Es necesario para que deje de tener efecto el display: none */
        display: inline-block;
        margin: 0 auto;
        
    }

    .menu ul li{
        display: inline-block;
    }

    .menu ul li a{
        padding: 5px 7px;
        color: grey;
    }




    .menu_desplegable{
        display: none;
    }

    
    

    .social_bar{
        margin-left: 15px;
        width: 300px;
    }

    .footerServices{
        text-align: left;
    }

    .footerLogo{
        position: absolute;
        top: 0;
        left: 0;
    }

    .footerContent{
        padding-left: 130px;
        
    }

    .footerContentForms{
        width: 65%;
    }

    .footerContent_copy{
        width: 50%;
        text-align: left;
    }

    

    .conteinerServices{
        padding: 0 20px;
        position: relative;
    }

    .conteinerServices:after{
        content: "";
        display: table;
        clear: both;
    
    }

    .servicios_lista{
        width: auto;
    }

    .conteinerServices li{
        padding: 10px 0;
        margin-right: 20px;
        border-top: none;
        display: inline-block;
        font-size: 14px;

    }

    .conteinerServices p{
        clear: none;
        border-top: none;
        font-size: 12px;
        color: grey;
        float: right;
    }

    .conteinerServices p:hover{
        color: #fff;
    }

    



}

@media screen and (min-width: 1024px) {

    #postCabezera > .articulo{
        margin-bottom: 20px;
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 600px auto;
        grid-template-areas: "imgPosPrincipal postPrincipalDetalles";
    }

    #postCabezera > .articulo > .imgPosPrincipal{
        grid-area: imgPosPrincipal;
    }

    #postCabezera > .articulo > .postPrincipalDetalles{
        grid-area: postPrincipalDetalles;
        width: 100%;
    }

    #postCabezera > .articulo >.imgPosPrincipal{
        width: 600px;
        height: auto;
    }

    #postCabezera > .articulo > .postPrincipalDetalles .texto_intro{
        color: #fff;
        display: block;
    }

    .header{

        border-bottom: 2px solid red;
    }

    .recommendBar{display: block;}

    .contenidoGeneral{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "Cabezera Cabezera"
                             "main sideBar";
    }
    
    .contenedorHeader{
        display: flex;
        justify-content:space-between;
        padding: 20px 20px;
    } 

    .buscar{
        display: inline-block;
    }

    .buscar input{
        padding: 5px 20px;
        border: 1px solid gray;
        border-radius: 4px;
    } 

    .footerContentForms{
        width: 30%;
    }
    
}
